/* Reset mặc định */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: antiquewhite;
    color: #333;
}

.container {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Phần đầu */
.header {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 2px solid #eee;
}

.avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
    object-fit: cover;
}

.header-info h1 {
    font-size: 2em;
    color: rgb(115, 189, 189);
}

.header-info h3 {
    font-size: 1.2em;
    color: rgb(115, 189, 189);
}

/* Nội dung */
.content {
    margin-top: 20px;
}

.section {
    margin-bottom: 30px;
    margin-left: 10px;
    text-align: 15px; 
}

.section h2 {
    font-size: 1.8em;
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
}

.section h4 {
    font-size: 1.2em;
    color: #ffffff;
    margin-top: 15px;
    margin-bottom: 5px;
}

.section p {
    margin-bottom: 10px;
    text-align: justify;
}

.section ul {
    list-style-type: disc;
    margin-left: 20px;
}

.section ul li {
    margin-bottom: 5px;
}
h2 {
    background-color: rgb(115, 189, 189);
    color: #f4f4f4;
    text-align: center; 
}
.content1 ul li {
    margin-left: 20px; 
}
#name {
    text-align: right;
    margin-right: 5px  ; 
    color: rgb(19, 78, 186);
}
#major {
    text-align: right;
    margin-right: 7px; 
    color: rgb(19, 78, 186);
}